/* сбрасываем стили по умолчанию */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    background: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    outline:none;
}

/* устанавливаем общие стили для всех элементов */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    text-decoration: none;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    line-height: 1.428571429;
}

input {
    padding: 0 5px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}

.toolbar .toolbar-item,
.inline-block {
    zoom: 1;
    display:-moz-inline-box;
    -moz-box-orient:vertical;
    display:inline-block;
    _display:inline;
    *display:inline;
    vertical-align: top;
}

.toolbar .toolbar-item > *,
.table-wrapper,
.table th,
.table .edit td {
    border: 1px solid #c0c0c6;
}
.toolbar .btn,
.table th {
    background: #f5f5f5;
}

.btn {
    cursor: pointer;
}

.table-wrapper,
.toolbar .toolbar-item > :first-child,
.toolbar .toolbar-item > :last-child {
    position: relative;
    z-index: 0;
    behavior: url(PIE.htc);
    overflow: hidden;
}

/* задаем стили контейнерам */
#container {
    margin: 0 100px;
    min-width: 750px;
}
#container > *,
#content > * {
    margin-bottom: 20px;
}

#header {
    margin-top: 20px;
}
#header h1 {
    font-weight: bold;
    font-size: 20px;
}

/* задаем стили тулбару*/
.toolbar .toolbar-item {
    height: 28px;
    margin-right: 50px;
}
.toolbar .toolbar-item:last-child {
    margin-right: 0;
}
.toolbar .toolbar-item > * {
    height: 100%;
    font-size: 18px;
    float: left;
    display: block;
    line-height: 32px;
}
.toolbar .toolbar-item > :first-child {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius : 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.toolbar .toolbar-item > :last-child {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius : 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.toolbar .btn {
    padding: 0 10px;
}

/* задаем стили таблице */
.table-wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius : 5px;
    border-radius: 5px;
}
.table {
    width: 100%;
}
.table th, .table td {
    vertical-align: middle;
}
.table th {
    border-top: 0;
    height: 35px;
}
.table td {
    height: 30px;
    border-bottom: 1px solid #ccc;
}
.table td.text-center {
    text-align: center;
}
.table tr th:first-child {
    border-left: 0;
}
.table tr th:last-child {
    border-right: 0;
}
.table tr:last-child td {
    border-bottom: 0;
}
.table td input[type="text"] {
    width: 100%;
    height: 100%;
    background: #fffcb4;
}
.table .edit td {
    border-top: 0;
}
.table .action {
    width: 5%;
    min-width: 28px;
}
.table .code {
    width: 10%;
    min-width: 100px;
}
.table .name {
    width: 85%;
}
.table .btn {
    position: relative;
    top: 2px
}

/* хаки */
@-moz-document url-prefix() {
    .table td input[type="text"] {
        margin: -2px 0
    }
    .toolbar .toolbar-item > * {
        line-height: 29px;
    }
}