<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Документы, удостоверяющие личность</title>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <link href="./css/bootstrap-glyphicons.css" rel="stylesheet"/>
    <link href="./css/style.css" rel="stylesheet"/>
    <script data-main="js/app" type="text/javascript" src="js/libs/require.js"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Документы, удостоверяющие личность</h1>
        </div>
        <div id="content">
            <div class="toolbar">
                <div id="search" class="search toolbar-item clearfix">
                    <button class="btn glyphicon glyphicon-search find"></button>
                    <input type="text">
                    <button class="btn glyphicon glyphicon-remove-circle reset"></button>
                </div>
                <div class="toolbar-item clearfix">
                    <button id="create-btn" class="btn glyphicon glyphicon-plus"></button>
                    <button id="edit-btn" class="btn glyphicon glyphicon-pencil"></button>
                    <button id="remove-btn" class="btn glyphicon glyphicon-trash"></button>
                    <button id="submit-btn" class="btn glyphicon glyphicon-ok"></button>
                    <button id="reset-btn" class="btn glyphicon glyphicon-remove"></button>
                </div>
            </div>
            <div class="table-wrapper">

                <table id="documents" class="table">
                    <thead>
                    <tr>
                        <th class="action"><input type="checkbox" id="select-all-btn"></th>
                        <th class="code">
                            <span>Код</span>
                            <button class="btn glyphicon glyphicon-chevron-down order" prop="code" direct="0"></button>
                            <button class="btn glyphicon glyphicon-chevron-up order" prop="code" direct="1"></button>
                        </th>
                        <th class="name">
                            <span>Наименование документа</span>
                            <button class="btn glyphicon glyphicon-chevron-down order" prop="name" direct="0"></button>
                            <button class="btn glyphicon glyphicon-chevron-up order" prop="name" direct="1"></button>
                        </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <script id="row-tmpl" type="text/x-underscore-tmpl">
        <tr id="row-<%=document.cid%>">
            <td class="action text-center"><input type="checkbox" value="<%=document.cid%>"/></td>
            <td class="code text-center"><%=document.get('code')%></td>
            <td class="name"><%=document.get('name')%></td>
        </tr>
    </script>
    <script id="error-row-tmpl" type="text/x-underscore-tmpl">
        <tr id="error-row">
            <td colspan="3" class="text-center">Нет данных для отображения</td>
        </tr>
    </script>
    <script id="edit-row-tmpl" type="text/x-underscore-tmpl">
        <tr id="row-<%=document.cid%>" class="edit">
            <td class="action text-center"><input type="checkbox" value="<%=document.cid%>"/></td>
            <td class="code"><input type="text" name="code" value="<%=document.get('code')%>" autofocus="autofocus"/></td>
            <td class="name"><input type="text" name="name" value="<%=document.get('name')%>"/></td>
        </tr>
    </script>
</body>
</html>